<head>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
</head>

<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<br /><br />

<%= link_to 'Delete', article_path(@article), method: :delete, 
data: {confirm: "Really delete '#{@article.title}'?" } %> || 
<%= link_to "edit", edit_article_path(@article) %>

<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'comments/form' %>
<%= render partial: 'articles/comment', collection: @article.comments %>

<br /><br />
<%= link_to "<<Back to Articles List", articles_path %>